﻿body {
    font-family: 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif
}

#embedContainer {
    min-width: 90%;
    height: 90vh; 
    width: 90%;
}

#dashboardContainer {
    min-width: 800px;
    height: calc(0.5625 * 64vw); /* 16:9 aspect ratio */    
    width: 60%;
}

@media only screen and (max-width: 1333.33px) {
        #embedContainer, #dashboardContainer {
        height: calc(0.5625 * 870px); /* 16:9 aspect ratio */
    }
}

#buttonsWrapper {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    cursor: pointer;
}

#buttonsWrapper a {
    background-color: rgb(36, 169, 225);
    border: none;
    color: white;
    padding: 5px 30px;
    margin: 5px;
    width: 200px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

#buttonsWrapper a:hover {
   font-size: 120%;
}

#tileContainer {
    width: 400px;
    height: 350px;
}

.infoBox {
    margin-top: 30px;
}

iframe {
    border: none;
}